<!doctype html>
<html>
<head>
    <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
 
      <title>Usuarios</title>
 
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.min.css">
</head>
<body>
 
    <div class="container">
        <div class="section columns">
            <div class="column is-8 is-offset-2">
                  <table class="table is-bordered is-striped is-narrow">
                    <thead>
                        <tr>
                              <th>Genero</th> 
                              <th>Titulo</th>
                              <th>Nome</th>
                              <th>Rua</th> 
                        </tr>
                    </thead>
                    <tbody>
                    {{#each result.results}}
                        <tr>
                            <div align="center">
                                <figure class="image is-64x64">
                                    <img src="{{picture.large}}" alt="Team Logo">
                                </figure>
                            </div><br>

                            <td>{{ gender }}</td>  
                            <td>{{ name.title }}</td>  
                            <td>{{ name.first }}</td>  
                            <td>{{ location.street }}</td>  
                        </tr>
                      {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>